1.	Write a Python Program to Find the Factorial of a Number?
2.	Write a Python Program to Display the multiplication Table?
3.	Write a Python Program to Print the Fibonacci sequence?
4.	Write a Python Program to Check Armstrong Number?
5.	Write a Python Program to Find Armstrong Number in an Interval?
6.	Write a Python Program to Find the Sum of Natural Numbers?

In [1]:
def factorial(num):
    res=1
    for i in range(2,num+1):
        res=res * i
    return res

print(factorial(5))
print(factorial(0))
print(factorial(1))

120
1
1

In [2]:
def mul_table(num):
    for i in range(1,10+1):
        print(f"{num} * {i} = {num*i}")
    return f"The above is the multiplication table for {num}"
print(mul_table(5),end="\n\n")
print(mul_table(12))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
The above is the multiplication table for 5

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
The above is the multiplication table for 12

In [3]:
def fibbanoci_series(num):
    l=[0,1]
    if num < 0 :
        print("incorrect input")
    elif num == 0 or num==1:
        return l[:num+1]
    else:
        a=0
        b=1
        for i in range(1,num):
            a,b=b,a+b
            l.append(b)
    return l

print(fibbanoci_series(9))
print(fibbanoci_series(1))
print(fibbanoci_series(0))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1]
[0]

In [4]:
def armstrong_number_check(num):    
    s=str(num)
    n=len(s)
    l=[]
    l.extend(s)
    sum=0   
    for j in l:
        sum= sum + int(j)**n 

    if sum == num:
        return f"{num} is an armstrong number"
    else :
        return f"{num} is not an armstrong number"
    
print(armstrong_number_check(153))
print(armstrong_number_check(407))
print(armstrong_number_check(663))

153 is an armstrong number
407 is an armstrong number
663 is not an armstrong number

In [5]:
def sum_natural(n):
    if n >= 0:
        sum =(n*(n+1))/2
        print(f"the sum of first {n} natural numbers is:", end=" ")
        return int(sum)
    else:
        return "natural numbers does not contain negative number"

print(sum_natural(2))
print(sum_natural(5))
print(sum_natural(-3))

the sum of first 2 natural numbers is: 3
the sum of first 5 natural numbers is: 15
natural numbers does not contain negative number